*{
    margin:0px;
    padding: 0px;
    box-sizing:border-box;
}
.nav {
    display: flex;
    overflow: hidden;
    background-color: navy;
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
  }
  
  .nav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
    font-size: 25px;

  }
  .nav li{
     list-style: none;

  }
  
  .nav a:hover {
    background-color: #ddd;
    color: black;
    font-style: italic;
  }
  
  .nav a.active {
    background-color: lightblue;
    color: black;
    font-style: oblique;
  }




.contact{
    background-color:lightblue;   
}

.middle{
    width: 40%;
    margin:0 auto;
}
.middle h1{
    text-align: center;
    
    font-family: 'Padauk', sans-serif;
    font-family: 'Roboto Slab', serif;
    
    font-size: 80px;

}

div{
    padding: 10px;
    margin: 10px;
}
hr{
    color: black;
}

form{
    width:80%;
    margin: 0 auto;
}
input{
    border:none;
    background-color:white;
    padding: 12px 20px;
    margin: 8px 0;
    border-radius: 5px;
    
}

input:hover{
    border: 1px solid black;
}

textarea:hover{
    border: 1px solid black;
}

input[type=text],input[type=email]{
    width: 50%;
}
input[type=tel]{
    width: 75%;
}

td{
    padding:5px;
}

textarea{
    border:none;
    background-color:white;
    padding: 12px 20px;
    margin: 8px 0;
    width: 75%;
    height: 50px;
    border-radius: 5px;
    
}
input[type=submit]:hover
{
    background-color:rgba(59, 51, 51, 0.932);
    color: white;
}
body{
    background-color:lightblue;
}
.header{
    color: navy;
}